<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/assets/img/logo.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">The training you want</h1>
        <p class="lead">Using this application will help you get in shape faster.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/login">Go to panel</a>
          <a class="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/signup">Create account</a>
        </div>
      </div>
    </div>
  </div>
  <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Meet our team</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="/assets/img/hangover.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/img/due-date.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/img/mr-bean.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/img/alan-turing.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
